<h1>Listing Articles</h1>

<%= link_to 'New Article', new_article_path %>

<% @articles.each do |article| %>
  <div class="article">
    <%= render "articles/article" , :article => article %>
  </div>
<% end %>
