<h1><%=@user.username%></h1>

<% if can? :new, Article.new(user: @user) %>
  <%= link_to 'New Article', new_article_path(@user.username) %>
<% end %>

<% @articles.each do |article| %>
  <div class="article">
    <%= render "articles/article" , :article => article %>
  </div>
<% end %>
